<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="frame_id" default="odom"/>
    <arg name="use_rviz" default="true"/>
    <arg name="use_viewer" default="false"/>
    <arg name="local_frame_id" default="camera"/>
    <arg name="global_frame_id" default="world"/>
    <node pkg="tf" type="static_transform_publisher" name="odom_to_world"
          args="0 0 0 1.57 3.14 1.57 /odom /world 30"/>
    <node name="pointcloud_mapping" pkg="yahboomcar_slam" type="pointcloud_mapping" output="screen">
        <param name="topicColor" type="string" value="/ORB_SLAM2/RGB/Image"/>
        <param name="topicDepth" type="string" value="/ORB_SLAM2/Depth/Image"/>
        <param name="topicTcw" type="string" value="/ORB_SLAM2/CameraPose"/>
        <param name="local_frame_id" type="string" value="$(arg local_frame_id)"/>
        <param name="global_frame_id" type="string" value="$(arg global_frame_id)"/>
        <param name="node_path" type="string" value="$(find yahboomcar_slam)"/>
        <param name="fx" type="double" value="615.50506"/>
        <param name="fy" type="double" value="623.69024"/>
        <param name="cx" type="double" value="365.84388"/>
        <param name="cy" type="double" value="238.778  "/>
        <param name="resolution" type="double" value="0.01"/>
        <param name="depthfactor" type="double" value="1.0"/>
        <param name="queueSize" type="int" value="10"/>
        <param name="buseExact" type="bool" value="0"/>
        <param name="use_viewer" type="bool" value="$(arg use_viewer)"/>
    </node>
    
    <!-- Load ocotmap launch -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <!-- resolution in meters per pixel 最小像素（体素）分辨率 -->
        <param name="resolution" value="0.12"/>
        <!-- name of the fixed frame, needs to be "/map" for SLAM -->
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <!-- max range / depth resolution of the kinect in meter -->
        <param name="sensor_model/max_range" value="100.0"/>
        <param name="latch" value="true"/>
        <!-- max/min height for occupancy map, should be in meters -->
        <param name="pointcloud_max_z" value="2"/>
        <param name="pointcloud_min_z" value="-100"/>
        <!-- topic from where pointcloud2 messages are subscribed -->
        <remap from="/cloud_in" to="/camera/depth_registered/points"/>
    </node>
    <!-- RViz -->
    <include file="$(find yahboomcar_slam)/launch/view_orb_octomap.launch" if="$(arg use_rviz)"/>
</launch>

